<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>entity</string>
		<string>Beetle</string>
		<string>block</string>
		<string>CircleJoystick</string>
		<string>craftRecipes</string>
		<string>entityItem</string>
		<string>guiHandler</string>
		<string>item</string>
		<string>Main</string>
		<string>Player</string>
		<string>projectile</string>
		<string>SquareButton</string>
		<string>World</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
	<key>Icon</key>
	<string>Icon.png</string>
</dict>
</plist>
